@import '/src/color';

.component {
  display: flex;
  flex: 1;

  &.canvas {
    background-color: $color-canvas;
  }
  &.primary {
    background-color: $color-primary;
  }
  &.disabled {
    background-color: $color-disabled;
  }
}
